header {
    font-family: 'Rubik', sans-serif;
    text-align: center;
    margin: none;
}

#forkme_banner {
    display: block;
    position: fixed;
    top: 0;
    right: 0px;
    z-index: 10;
    padding: 10px 10px 10px 0px;
    color: #fff;
    background: rgb(0, 148, 185);
    font-weight: 700;
    /* box-shadow: 0 0 10px rgb(0 0 0 / 50%); */
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

#forkme_banner > a {
  margin-right: 5px;
  margin-left: 20px;
  display: flex;
  justify-content: baseline;
}


h1 {
    margin-left: 20px;
    font-size: 64pt;
}

h2 {
    margin-left: 20px;
    font-size: 32pt;
    margin-top: -50px;
}

body {
    background-image: url(./static/images/image.png);
    background-size: cover;
    font-family: 'Rubik', sans-serif;
    margin: 0px;
    border: 0px;
    padding: 0px;
    height: 100vh;
    width: 100%;
    color: white;
}

#about_me {
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 16pt;
}

/* #about_me_img {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.about_me_text {
    margin-right: 800px;
}

a {
    color: rgb(233, 109, 161);
}

a:link {
    text-decoration: none;
}


#project_links {
    /* margin-top: 70px; */
    text-align: center;
}

#all_links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#gs_title {
  font-family: "Permanent Marker", sans-serif;
  font-size: 32pt;
}

#gs_image {
  margin-top: -30px;
}

#tt_title {
  font-family: "Press Start 2P", sans-serif;
  font-size: 22pt;
}

#gs_links {
    display: flex;
    flex-direction: column;
}

#tt_links {
    display: flex;
    flex-direction: column;
    padding-top: 35px;
}

#contact_links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    opacity: 50%;
    margin-right: -40px;
    margin-top: 100px;
}

#contact_links:hover {
    opacity: 75%;
}

#contact_links > a {
    margin-right: 90px;
}

.cv_tooltip {
    position: relative;
    display: inline-block;
    margin-top: -10px;
    margin-right: -5px;
}
  
  /* Tooltip text */
  .cv_tooltip .tooltiptext_cv {
    visibility: hidden;
    background-color: darkblue;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    width: 100px;
    bottom: 100%;
    left: 50%;
    margin-left: -50px; /* Use half of the width (120/2 = 60), to center the tooltip */
}
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .cv_tooltip:hover .tooltiptext_cv {
    visibility: visible;
  }

  .cv_tooltip .tooltiptext_cv::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: darkblue transparent transparent transparent;
  }


.email_tooltip {
    position: relative;
    display: inline-block;
}
  
  /* Tooltip text */
.email_tooltip .tooltiptext_email {
    visibility: hidden;
    background-color: darkblue;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    width: 280px;
    bottom: 100%;
    left: 50%;
    margin-left: -140px; /* Use half of the width (120/2 = 60), to center the tooltip */
}
  
  /* Show the tooltip text when you mouse over the tooltip container */
.email_tooltip:hover .tooltiptext_email {
    visibility: visible;
}

.email_tooltip .tooltiptext_email::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: darkblue transparent transparent transparent;
  }

.li_tooltip {
    position: relative;
    display: inline-block;
}
  
  /* Tooltip text */
.li_tooltip .tooltiptext_li {
    visibility: hidden;
    background-color: darkblue;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    width: 180px;
    bottom: 100%;
    left: 50%;
    margin-left: -90px; /* Use half of the width (120/2 = 60), to center the tooltip */
}
  
  /* Show the tooltip text when you mouse over the tooltip container */
.li_tooltip:hover .tooltiptext_li {
    visibility: visible;
}

.li_tooltip .tooltiptext_li::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: darkblue transparent transparent transparent;
  }

.gh_tooltip {
    position: relative;
    display: inline-block;
}
  
  /* Tooltip text */
  .gh_tooltip .tooltiptext_gh {
    visibility: hidden;
    background-color: darkblue;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    width: 100px;
    bottom: 100%;
    left: 50%;
    margin-left: -50px; /* Use half of the width (120/2 = 60), to center the tooltip */
}
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .gh_tooltip:hover .tooltiptext_gh {
    visibility: visible;
  }

  .gh_tooltip .tooltiptext_gh::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: darkblue transparent transparent transparent;
  }

#contact_links > .gh_img {
    /* margin-right: 25px; */
    margin-left: 0px;
}


/* Style the tab */
.tab {
    /* overflow: hidden; */
    display: flex;
    flex-grow: 1;
    background-color: lightskyblue, 0.2;
    margin: 0px;
    border: 0px;
    padding: 0px;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px;
    padding-left: 15%;
    padding-right: 14%;
    transition: 0.3s;
    font-weight: 800;
    flex-grow: 1;
    color: white;
    border-radius: 12px;
    font-size: 14pt;
  }

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: rgb(53, 9, 136);
}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: rgb(0, 148, 185);
    color: white;
}

/* Style the tab content */
.tabcontent {
  padding: 0px 12px;
  width: 100%;
  border: 0px;
  margin: 0px;
  padding: 0px;
  height: 300px;
  animation: fadeEffect 3s; /* Fading effect takes 1 second */
}



/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }


/* footer {
    display: flex;
    justify-content: center;
    margin-top: 325px;
    border-radius: 12px;
    padding: 14px;
    background-color: rgb(0, 148, 185);
}

#contact_links_footer > a {
    margin-right: 10px;
} */